<div>
  <h1>Sign Up</h1>
  <form action="/sign-up" method="POST">
    {{!-- email --}}
    <div class="form-group">
      <label for="email">Email Address</label>
      <input name="email" type="text" class="form-control" >
    </div>
    {{!-- password --}}
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control">
    </div>
    {{!-- submit --}}
    <div>
      <button type="submit" name='button'>Submit</button>
    </div>
  </form>
</div>